
    * { box-sizing: border-box; }
    body{
        background-color: #cc4210;
    } 
    .header{
        padding:40px 0;
        margin-top: 55px;
        margin-left: 70px;
        font-size: 90px;
        letter-spacing: 8px; 
        text-shadow: gold 3px 0 20px;
        font-family: 'Pacifico', cursive;
        background-color: #cc4210;
        color:white;
    }
    img{
        height: 500px;
        width: 500px;
        border-radius: 50%;
    }
    .picture{
        margin-left: 20px; 
        margin-top: 20px;
    }

     .container-fluid{ 
         width: 960px;
         margin: 0 auto 0 auto;
     }
    
     .cartoon{
         width: 250px;
         height: 250px;
         margin-right: 15px; 
         border: 3px solid gold; 
        

     }
     #gifPlacement{
         display: flex;
         flex-wrap: wrap; 
         margin: 0 auto 0 auto;   
         cursor:pointer; 
     }
     .data-gif{
         margin-right:12px;
         margin-bottom:10px;
         height: 70px; 
         font-family: 'Shadows Into Light', cursive;
         font-size: 18px;
         color: gold;
         text-align: center; 
         letter-spacing: 2px;
         font-weight: bold; 
         background-color: #cc4210;
         border: 1px solid gold;
         border-radius:5px 20px 5px;
         cursor:pointer;
        
     }

     .data-gif:focus{
        outline:none; 
     } 
     #gifInput:focus{
         outline: none;
     }

     #submitBtn:focus{
        outline: none;
     }

     .buttonDiv{
         width: 910px;   
         padding: 2px; 
         margin-left: 200px; 
         margin: auto 0 auto 0;
     }

     .love,
     .delete{
        color:gold;
        font-size: 30px;
        background-color: #cc4210;;
        border: 1px solid #cc4210;
        text-decoration: none;
        
     }
     .delete{
         padding: 6px;
         margin-left: 5px;
     }

     #inputLabel,
     #gifInput{
         color: gold;
         font-family: 'Shadows Into Light', cursive;
         font-size: 30px; 
         padding:12px;
         font-weight: bold; 
         border-radius: 16px;
     }

     #inputLabel{
         margin-right:30px;     
     }
     #submitBtn{
         font-family: 'Shadows Into Light', cursive;
         border: 1px solid gold;
         background-color: #cc4210;
         color:gold;
         border-radius:5px 20px 5px;
         font-size: 25px;
         font-weight: bold; 
         width: 130px;
         height: 40px;
         cursor:pointer;   
     }
     #gifInput{
         font-weight: initial;
         padding:12px;
         height: 40px;
         width: 270px;
         margin-right:30px; 
         border-radius:5px 20px 5px;
         border: 1px solid gold;
         background-color: #cc4210;
         cursor:text;
     }
     #form{
         padding: 10px;
         margin-left: 100px;
     }

     .stickyFooter{
        text-align: center;
        color: gold;
        font-family: 'Coming Soon', cursive;
    }
